    nav {
      font-family: 'Cinzel', serif;
    }
    .marginAuto {
      margin:auto!important;
    }

    a{
      color:#A8A8A8;
    }
    a:hover{
      color:#4F4F4F;
      text-decoration: none;
    }

.imgShadow{
  box-shadow: 10px 10px 17px 2px rgba(0,0,0,0.3);
}

.wordShadow
{
  text-shadow:5px 5px 10px grey;
}
.active {
    color:black; 
  }


/* ---- masonry ---- */

* { box-sizing: border-box; }
.grid:after {
 content: ' ';
 display: block;
 clear: both;
 
}

/* ---- grid-item ---- */

.grid-item {
 width: 320px;
 height: 320px;
 float: left;
 overflow:hidden
 padding:5px;
}

.grid-item--height2 { height: 460px; }
.grid-item--height3 { height: 520px; }

Img{
height: 100%
}